@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

.container{
	display:flex;
	justify-content:center;
	align-items:center;
}

.container .content{
	
	margin-top:20px;
	width:550px;
	height:fit-content;
	box-shadow: 1px 1px 15px gray;
	border-radius: 5px;
	background:whitesmoke;
	position:relative;
}
.form{
	display: flex;
	justify-content: space-around;
	align-items:center;
}

.label, .input {
	display: flex;
	flex-direction: column;
}

.label{
	margin-left:20px;
}
input, label,select{
	margin-top:30px;
	padding: 10px;
	
}

input,select{
	margin-right:30px;
}

button{
	margin:15px 225px;
	padding:12px 30px;
	border-radius:8px;
	transition:.5s ease-out;
	&:hover{
		cursor:pointer;
		
		background:white;
	}
	
}
h2{
	text-align:center;
	padding-top:10px;
}

p{
	margin:8px 50px;
	font-size:16px
}