@charset "UTF-8";

body {
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
	/* background-color:#34495e; */
	background-image: url(../images/2.jpg);
	background-size: cover;
}

.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 20%;
	Left: 38%;
	transform: translate(-50%, -5% 0);
	background: black;
	text-align: center;
	border-radius: 10%;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

.box input[type="text"], .box input[type="password"] {
	border: 0px;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
	width: 250px;
	border-color: rgb(11, 226, 33);
}

.box input[type="submit"] {
	border: 0px;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid rgb(11, 226, 33);
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	text-transform: uppercase;
}

.box input[type="submit"]:hover {
	background-image: linear-gradient(to right, #3498db, rgb(11, 266, 33));
}

a {
	margin: 10%;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	color: white;
	background-color: rgb(179, 145, 12);
	border-radius: 20px;
}

@media ( max-width :640px) {
	body {
		background-repeat: no-repeat;
		background-color: white;
	}
}