* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "courier new", courier, maroopace;
}

body {
  display: flex;
  height: 110vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, green, yellow);
}

.container {
  max-width: 1020px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 240px;
  background: linear-gradient(135deg, green, yellow);
}

.container form .userdetails {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

form .userdetails .inputbox {
  margin: 20px 50px 16px 25px;
  /* width: calc(100% - 2 + 20px); */
}

.userdetails .inputbox .details {
  display: block;
  font-weight: 30%;
  margin-bottom: 5px;
}

.userdetails .inputbox input,
select {
  height: 45px;
  width: 120%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;

  font-size: 18px;
  border-bottom-width: 2px;
}

.userdetails .inputbox input:focus,
.userdetails .inputbox input,
select:valid {
  border-color: blueviolet;
}

.sub {
  height: 45px;
  width: 80%;
  margin-left: 25px;
}

input[type="submit"] {
  height: 100%;
  width: 120%;
  outline: none;
  color: white;
  font-size: 20px;
  background: linear-gradient(135deg, green, yellow);
}

a {
  text-transform: uppercase;
  color: green;
  text-decoration: none;
  font-size: 18px;
}

.ad {
  text-align: center;
}
